@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
:root {
font-family: "Inter", sans-serif;
}

.Gradient-image {
background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}
.bootaan{
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: xx-large;
}